.header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 5px 0px #eee;
}
header {
  width: 1280px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

header ul {
  display: flex;
}
header li {
  padding: 0 25px;
  display: flex;
  height: 80px;
  list-style: none;
}

header li a {
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

header li a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  bottom: 0;
  border-radius: 2px;
  background: transparent;
  transition: width 0.3s ease;
}
header li:hover a::after {
  width: 100%;
  background: #6ed300;
}

header h1 img {
  height: 40px;
  vertical-align: text-bottom;
}
